<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/jquery-ui-1.10.4.custom.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>

    <title></title>
</head>

<body id="forget_your_passwod_body">
<div  >
<ul class="nav nav-pills">
    <li><a href="/">Home</a></li>
    <li><a href="/">SignUp</a></li>
    <li><a href="/login">Login</a></li>
</ul>
<div >
    <div>
        <input id="autocomplete" title="type &quot;a&quot;">
        <Button class="btn-danger" id="SerachAllContent">Search <i class="icon-search"></i></Button>
    </div>


    <div class="span2" id="githubdiv2">

        <br><br><br> <span class="Add_Event_span">FirstName:<span style="color: #ffffff"><%= doc.first_name_in_database %></span></span><br>
        <span class="Add_Event_span">LastName:<span style="color: #ffffff"><%= doc.last_name_in_database %></span></span><br>
        <span class="Add_Event_span">Email:<span style="color: #ffffff"><%= doc.email_in_database %></span></span><br>



    </div>

    <div class="span6" id="githubdiv">
        <div style="background-color: #000000">
        <ul class="nav nav-pills">
            <!--<li><button class="btn btn-primary" id="show_all_repositry"> &lt;!&ndash;href="/Create_new_Repositry"&ndash;&gt;Show  All  Repostry </button></li>-->

            <li><a id="show_all_repositry" href="#">Show  All  Repostry</a></li>
            <li><a href="#">Contributions</a></li>
            <!--<li><button class="btn btn-primary" id="create_new_repositry"> &lt;!&ndash;href="/Create_new_Repositry"&ndash;&gt;Create New Repostry </button></li>-->
            <li><a id="create_new_repositry" href="#">Create New Repostry</a></li>
        </ul>
            </div>
        <span id="view_your_repositry"></span>
    </div>

</div>
</div>
<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
<script src="/javascripts/Registration.js"></script>
<script src="/javascripts/Friends.js"></script>
<script>
$(document).ready(function(){




 /*   $('#show_all_repositry').on("click",function(){

        $.ajax({
            url:'/ShowAllRepositry',    //this request fetch you the issue name frm the database
            type:'post',
            data:{email_of_other_user:"empty"},
            success:function(res)
            {

                var email =res.email_in_Issue;
                for(var i =0; i<res.Issue_Names.length;i++)
                {
                    $('#view_your_repositry').append("<ul><li style='list-style: none' ><a  class='my_all_repositry' href='#'>"+ res.Issue_Names[i].text + "</a></li></ul><br/>").css({ "background-color": 'black','font': 'white', "fontSize": "40px"});

                }   //this loop will write all issue name in the view and will give all issue a class my_all_repositry
                $('.my_all_repositry').on("click",function()
                {   //when you click on any issue

                    var issue_name = $(this).html();
                            $('body').empty();   //empty the view
                            $('body').append("<div id='body'></div>"); //dyammic create div

                           // $('#body').css({"backgroundColor":"white"});
                            $('#body').append("<span id='show_all_issue_name'> Name:  "+ res.name_of_person+"</span>"); //append that issue name in the view that you click on it
                            $('#body').append("<span class='email_in_issue_when_show_data'  id='one'><br/>Email : " + res.email_in_Issue+"</span><br/>");//get email
                            $('#one').append("<span id='two'<div></div>Issue Name : "+issue_name +"</span><br/><br><br><br>"); //get first name of a person
                            for(var i =0; i<res.Issue_Names.length;i++)  //this loop for getting all data to the particular issue
                            {
                                if(res.Issue_Names[i].text==issue_name)   //if we find the issue
                                {
                                    var if_found  = null;
                                    var length_of_line = [];

                                    var red = "0";
                                    var a = 147;
                                    var str = new Array();
                                    var ptr = new Array();
                                    var count = 0;
                                    var one = 0;
                                    var two = 0;
                                    var doc = res.Issue_Names[i].content;
                                    *//*this code is replace the inverted comma*//*
                                    for(var i =0;i<doc.length;i++)
                                    {
                                        if(doc.charAt(i)==';')
                                        {
                                            a=147;
                                        }
                                        if(doc.charCodeAt(i)==a)
                                        {
                                            doc = doc.replace(doc.charAt(i),'\"');
                                            a++;
                                        }
                                    }
                                    *//*this code is replace the inverted comma*//*

                                    *//*this code is Breaking The Line*//*
                                    for(var i=0;i<doc.length;i++)
                                    {

                                        if(doc[i]==';')
                                        {
                                            two=i;
                                            *//*str[count] ="<div id="+ "a1"+count+">" + doc.slice(one,two)+"</div>;<button class='ali' id=" + "a" +count + ">HighLite</button><br><br> ";*//*
                                            str[count] ="<div id="+ "a1"+count+">" + doc.slice(one,two)+";</div><button class='ali' id=" + "a" +count + ">HighLite</button><br> ";
                                            ptr[count]=doc.slice(one,two) + ';';
                                            one=two +1 ;
                                            count++;
                                        }
                                    }
                                    *//*this code is  Breaking The Line*//*

                                    $.ajax({
                                        url:'/GetpdatedHighLiteToShowTheUser',
                                        type:'POST',
                                        data: {issue_name:issue_name},
                                        success:function(linestyling)
                                        {
                                            alert(linestyling);
                                            if(linestyling == "default")
                                            {

                                            }
                                            else
                                            {

                                                for(var i=1;i< linestyling.length;i++)
                                                {
                                                    length_of_line[i-1]=linestyling.charAt(i);
                                                }

                                            }

                                        }
                                    }).done(function(linestyling){
                                                for(var i=0;i<str.length;i++ )
                                                {

                                                    for(var  j =0;j<length_of_line.length;j++)
                                                    {

                                                        if(length_of_line[j] == i )
                                                        {

                                                            alert("here");

                                                            if_found = "find";
                                                        }

                                                    }

                                                    if(if_found == "find")
                                                    {
                                                        $('#two').append("<div id='css_btn_save'>"+str[i]+"</div>");
                                                        $('#a1'+ i+'').addClass('redline');
                                                        $('#a1' + i+'').css({ fontSize:"20px"  });
                                                        if_found=null;
                                                    }
                                                    else
                                                    {

                                                        $('#two').append("<div id='css_btn_save'>"+str[i]+"</div>");
                                                        $('#css_btn_save').css("font-size:20px;");
                                                        $('#a1' + i+'').css({  fontSize:"20px" });
                                                    }

                                                }

                                            })



                                    $('#css_btn_save').append("<br><button class='btn btn-primary' id='btn_save_id'>Saved</button><button class='btn btn-primary' id='btn_edit_id'>Edit</button>");
                                    $('.ali').on("click",function(){

                                        var a = $(this).attr("id");      //get the id of current click button that i generated dynamically
                                        var b = a.charAt(1);             //get the value of count its positiona is at 1
                                        var id_string = "a1"+ a.charAt(1);
                                        if($('#a1'+ a.charAt(1)+'').hasClass('redline'))
                                        {
                                            $('#a1'+ a.charAt(1)+'').removeClass('redline');
                                            red = red.substr(0, red.length-1);
                                            alert(red);
                                        }
                                        else
                                        {
                                            $('#a1'+ a.charAt(1)+'').addClass('redline');
                                            red = red + b;
                                            alert(red);

                                        }

                                    });   //when click on yo add inline css
                                    $('#btn_save_id').on("click",function(){
                                        $('.ali').attr("disabled", true);
                                        $.ajax({
                                            url:'/SaveHiglitevalueHere',
                                            type:'POST',
                                            data:{red:red,issue_name:issue_name},
                                            success:function(res){alert(res);}
                                        })

                                    });   //save and edit button codin heree

                                    $('#btn_edit_id').on("click",function(){
                                        $('.ali').attr("disabled", false);
                                    });   //ths code cotain save , edit btn to apply inline css


                                }
                            }

                            $('#two').append("<div id='post'></div><br/>   <input id='comment' type='text' placeholder='Enter Your Comment Over Herer'/><br/> <button id='cmt_btn'>Comment</button><br/>     <div id='show_comment'></div>");

                            $('#cmt_btn').on("click",function(){
                                var comment_value = $('#comment').val();
                                alert(comment_value);
                                $.ajax({
                                    url:'/comment1',
                                    type:'post',
                                    data:{email_post:email,issue_name:issue_name,comment_value:comment_value},
                                    success: function(Data){
                                        alert(Data);
                                        for(var i =Data.Comment.length-1; i<Data.Comment.length;i++)
                                        {
                                            // $('#show_comment').append( "<post id='cmt_post1'><br/>" + Data.Comment[i].text +  "<br/><Button style='margin-left: 113px;' class='btn btn-primary'>Delete</Button></post><br/> ");
                                            //  $('#show_comment').css({ "background-color": 'black','font': 'white', "fontSize": "30px"});
                                            $('#show_comment').append( "<br/><post1 id='cmt_post1'><br/><br>" + Data.Comment[i].text +  "<Button>Delete</Button></post1>" );
                                            alert(Data.Comment[i].text);
                                        }


                                    }
                                }).done(function(){

                                            alert("done");



                                        });
                            });    //this will save the comment in database

                            $.ajax({
                                url:'/AlreadyHaveComments',
                                type:'post',
                                data:{'issue_name':issue_name},
                                success:function(res){
                                    for(var i =0; i<res.Comment.length;i++)
                                    {
                                        $('#show_comment').append( "<br/><post1 id='cmt_post1'><br/><br>" + res.Comment[i].text +  "<Button>Delete</Button></post1>" );
                                    }


                                }
                            })
                });
            }
        })
    });*/

    $('#show_all_repositry').on("click",function()
        /* Ajax Request 3: This Will Show you ALl his Contributions*/
    {
        $.ajax({
            url:'/ShowAllRepositry',    //this request fetch you the issue name frm the database
            type:'post',
            data:{email_of_other_user:"empty"},
            success:function(res)
            {
                var profile_email =res.email_in_Issue;
                var profile_name = res.name_of_person;
                for(var i =0; i<res.Issue_Names.length;i++)
                {
                    $('#view_your_repositry').append("<ul><li style='list-style: none' ><a  class='my_all_repositry' href='#'>"+ res.Issue_Names[i].text + "</a></li></ul><br/>").css({ "background-color": 'black','font': 'white', "fontSize": "40px"});   //this line is generating li of available his IssueNames
                }
                $('.my_all_repositry').on("click",function()
                {
                    var issue_name = $(this).html();   //get the value of issue name that you click on
                    $('body').empty();
                    $('body').css({"width":"100%","height":"100%"});
                    $('body').append("<div id='main_div_when_show_user_profile'><div id='forget_your_passwod_body'  style='background-color: #000000' ><ul class='nav nav-pills'> <li><a style='color: green' href='#'>Home</a></li><li><a style='color: green' href='#'>SignUp</a></li><li><a id='back_to_your_profile' style='color: green' href='#'><i class='icon-user icon-white'></i>"+ profile_name+  "</a></li> </ul> </div><div><div  id='User_Contact_Over_Here'><div id='name_and_email_of_user' class='span3'> Name:"+ profile_name +"<br> email :"+  profile_email +" </div><div> </div> <div id='here_is_user_post' class='span4' id='User_Post_Over_Here'><span id='issue_name_of_user'>Issue Name : "+ issue_name + "</span><br> </div><br></div><p id='user_comment_over_there'><span id='comment_input_enter_here'><input id='comment' type='text'><br><button id='cmt_btn'><i class='icon-comment'></i>Comment</button><div id='comment_here_in_this_line'></p></div>");
                    $('#back_to_your_profile').on("click",function(){
                        $.ajax({
                            url:'/BackToYourProfile',
                            type:'POST',
                            data:{email_in_login:profile_email},
                            success:function(res)
                            {

                                $('body').html(res);
                            }
                        })
                    });
                    for(var i =0; i<res.Issue_Names.length;i++)  //this loop for getting all data to the particular issue
                    {
                        if(res.Issue_Names[i].text==issue_name)   //if we find the issue
                        {
                            var if_found  = null;
                            var length_of_line = [];
                            var line_no =1
                            var red = "0";
                            var a = 147;
                            var str = new Array();
                            var ptr = new Array();
                            var count = 0;
                            var one = 0;
                            var two = 0;
                            var doc = res.Issue_Names[i].content;
                            /*this code is replace the inverted comma*/
                            for(var i =0;i<doc.length;i++)
                            {
                                if(doc.charAt(i)==';')
                                {
                                    a=147;
                                }
                                if(doc.charCodeAt(i)==a)
                                {
                                    doc = doc.replace(doc.charAt(i),'\"');
                                    a++;
                                }
                            }    //It is replacing the inverted comma or you can say it is inserting it
                            for(var i=0;i<doc.length;i++)
                            {

                                if(doc[i]==';')
                                {
                                    two=i;
                                    /*str[count] ="<div id="+ "a1"+count+">" + doc.slice(one,two)+"</div>;<button class='ali' id=" + "a" +count + ">HighLite</button><br><br> ";*/
                                    str[count] ="<div id="+ "a1"+count+">Line:"+ line_no +"  " + doc.slice(one,two)+";</div><button class='ali' id=" + "a" +count + "><i class='icon-pencil'></i></button> ";
                                    ptr[count]=doc.slice(one,two) + ';';
                                    one=two +1 ;
                                    count++;
                                    line_no++;
                                }
                            }    //breaking in line with semicolon

                            $.ajax({
                                url:'/GetpdatedHighLiteToShowTheUser',
                                type:'POST',
                                data: {issue_name:issue_name},
                                success:function(linestyling)
                                {

                                    if(linestyling == "default")
                                    {
                                    }
                                    else
                                    {
                                        red = linestyling;
                                        for(var i=1;i< linestyling.length;i++)
                                        {
                                            length_of_line[i-1]=linestyling.charAt(i);
                                        }

                                    }

                                }
                            })  // ENd of Ajax Hihlite value of Line CSS
                                    .done(function(linestyling)
                                    {
                                        for(var i=0;i<str.length;i++ )
                                        {

                                            for(var  j =0;j<length_of_line.length;j++)
                                            {

                                                if(length_of_line[j] == i )
                                                {

                                                    alert("here");

                                                    if_found = "find";
                                                }

                                            }

                                            if(if_found == "find")
                                            {
                                                $('#issue_name_of_user').append(""+str[i]+"");
                                                $('#a1'+ i+'').addClass('redline');
                                                // $('#a1' + i+'').css({ fontSize:"20px"  });
                                                if_found=null;
                                            }
                                            else
                                            {
                                                $('#issue_name_of_user').append(""+str[i]+"");
                                            }

                                        }
                                        $('.ali').on("click",function(){

                                            var a = $(this).attr("id");      //get the id of current click button that i generated dynamically
                                            alert(a);                        //alert it
                                            var b = a.charAt(1);             //get the value of count its positiona is at 1
                                            //  alert(ptr[b]);
                                            var id_string = "a1"+ a.charAt(1);
                                            // alert(id_string);
                                            if($('#a1'+ a.charAt(1)+'').hasClass('redline'))
                                            {
                                                $('#a1'+ a.charAt(1)+'').removeClass('redline');
                                                red = red.substr(0, red.length-1);
                                                alert(red);
                                            }
                                            else
                                            {
                                                $('#a1'+ a.charAt(1)+'').addClass('redline');
                                                red = red + b;
                                                alert(red);

                                            }

                                        });

                                    }); //after Getting Updated css Value Show user post Here
                            $('#here_is_user_post').append("<br><button title='Save Inline CSS To Choose Line ' id='btn_save_id'><i class='icon-ok-circle'></i></button><button title='Edit Your CSS ' id='btn_edit_id'> <i class='icon-edit'></i></button>");  //Bring Save and Edit Button Into Play


                            $('#btn_save_id').on("click",function()
                            {

                                $('.ali').attr("disabled", true);
                                 $.ajax({
                                 url:'/SaveHiglitevalueHere',
                                 type:'POST',
                                 data:{red:red,issue_name:issue_name},
                                 success:function(res){alert(res);}
                                 })
                                alert(red);
                            });

                            $('#btn_edit_id').on("click",function(){
                                $('.ali').attr("disabled", false);
                            });  //ehen click onthe save button
                        }
                    }
                    $.ajax({
                        url:'/AlreadyHaveComments',
                        type:'post',
                        data:{'issue_name':issue_name},
                        success:function(res){
                            for(var i =0; i<res.Comment.length;i++)
                            {
                                $('#comment_here_in_this_line').append( "<div class='border_in_comment'><br/>" + res.Comment[i].text +  "</div>" );
                            }

                        }
                    })  //Already User have Comment
                    $('#cmt_btn').on("click",function(){
                        var comment_value = $('#comment').val();
                        alert(comment_value);
                        $.ajax({
                            url:'/comment1',
                            type:'post',
                            data:{email_post:profile_email,issue_name:issue_name,comment_value:comment_value},
                            success: function()
                            {

                                $('#comment_here_in_this_line').append( "<div class='border_in_comment'><br/>" + comment_value +  "</div>" );
                            }
                        }).done(function(){

                                    alert("done");
                                });
                    });  //when you click on the comment btn it save the vale of comment in database
                });
            }
        })
    });










    $('#create_new_repositry').on("click",function(){
        var first_name = <%- JSON.stringify(doc.first_name_in_database) %>;
        var email  = <%- JSON.stringify(doc.email_in_database) %>
        $.ajax({
            url:'/Create_new_Repositry',
            type:'post',
            data:{first_name:first_name,email:email},
            success:function(res){
                $('body').html(res);
            }
        })

    });
});
</script>
</body>
</html>