<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"href="/stylesheets/bootstrap-responsive.css"/>
    <link rel="stylesheet"href="/stylesheets/bootstrap.css"/>
    <title></title>
</head>
<body id="forget_your_passwod_body">
<ul class="nav nav-pills">
    <li><a href="\">Home</a></li>
    <li><a href="\">SignUp</a></li>
    <li><a href="\login">Login</a></li>
</ul>
<div id="commentbox">
    <h1><b>Email </b>:  <%= store_item.email %></h1>
    <h2>Issue Name :<%= store_item.issue_name %></h2>
    <div  class="sp" id="innercomment1">
        <div id="post"><br><br><div id="css_btn_save"></div></div><br/><br><br>
        <input  id='comment' type="text" placeholder="Enter Your Comment Over Herer"/><br/>
        <button class="btn-large" id="cmt_btn">Comment</button>

    </div>
    <div style="margin-left: 113px" id='show_comment'></div>
</div>

<script src="/javascripts/jquery-2.0.3.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>
    $(document).ready(function(){

        var red = "0";
        var email = <%- JSON.stringify(store_item.email) %>;
        var issue_name  = <%- JSON.stringify(store_item.issue_name) %>
        var resData  = <%- JSON.stringify(store_item.docs) %>
        var a = 147;
        var str = new Array();
        var ptr = new Array();
        var count = 0;
        var one = 0;
        var two = 0;

        for(var i =0; i<resData.Issue_Names.length;i++)
        {
            alert("On the loop");
           // alert(resData.Issue_Names.length);
           // alert(resData.Issue_Names[i].text==issue_name);
            if(resData.Issue_Names[i].text==issue_name)
            {
                var doc = resData.Issue_Names[i].content;
                for(var i =0;i<doc.length;i++)
                {
                    if(doc.charAt(i)==';')
                    {
                        a=147;
                    }
                    if(doc.charCodeAt(i)==a)
                    {
                        doc = doc.replace(doc.charAt(i),'\"');
                        a++;
                    }
                }
                for(var i=0;i<doc.length;i++)
                {

                    if(doc[i]==';')
                    {
                        two=i;
                        /*str[count] ="<div id="+ "a1"+count+">" + doc.slice(one,two)+"</div>;<button class='ali' id=" + "a" +count + ">HighLite</button><br><br> ";*/
                        str[count] ="<div id="+ "a1"+count+">" + doc.slice(one,two)+";</div><button class='ali' id=" + "a" +count + ">HighLite</button><br><br> ";
                        ptr[count]=doc.slice(one,two) + ';';
                        one=two +1 ;
                        count++;
                    }
                }
                for(var i=0;i<str.length;i++ )
                {
                    $('#post').append(str[i]);
                }
                $('#css_btn_save').append("<br><button class='btn btn-primary' id='btn_save_id'>Saved</button><button class='btn btn-primary' id='btn_edit_id'>Edit</button>");


            }
            $('.ali').on("click",function(){

                var a = $(this).attr("id");      //get the id of current click button that i generated dynamically
              //  alert(a);                        //alert it
                var b = a.charAt(1);             //get the value of count its positiona is at 1
              //  alert(ptr[b]);
                var id_string = "a1"+ a.charAt(1);
               // alert(id_string);
                if($('#a1'+ a.charAt(1)+'').hasClass('redline')) {
                    $('#a1'+ a.charAt(1)+'').removeClass('redline');
                     red = red.substr(0, red.length-1);
                    alert(red);
                }
                else {
                    $('#a1'+ a.charAt(1)+'').addClass('redline');
                    red = red + b;
                    alert(red);

                }

            });
            $('#btn_save_id').on("click",function(){
                $('.ali').attr("disabled", true);
                $.ajax({
             url:'/SaveHiglitevalueHere',
                    type:'POST',
                    data:{red:red,issue_name:issue_name},
                    success:function(res){alert(res);}
                })
                alert(red);
            });

            $('#btn_edit_id').on("click",function(){
                $('.ali').attr("disabled", false);
            });

        }


         $('#cmt_btn').on("click",function(){
                 var comment_value = $('#comment').val();
                 $.ajax({
                     url:'/comment1',
                     type:'post',
                     data:{email_post:email,issue_name:issue_name,comment_value:comment_value},
                     success: function(Data){
                         // alert(Data);
                         for(var i =Data.Comment.length-1; i<Data.Comment.length;i++)
                         {
                             $('#show_comment').append( "<post id='cmt_post'><br/>" + Data.Comment[i].text +  "<br/><Button style='margin-left: 113px;' class='btn btn-primary'>Delete</Button></post><br/> ");
                           //  $('#show_comment').css({ "background-color": 'black','font': 'white', "fontSize": "30px"});
                             alert(Data.Comment[i].text);
                         }


                     }
                 }).done(function(){

                             alert("done");



                         });
         });


      /*  if(resData.length==0)
        {
            alert("No Data Found In Our DataBase");
        }
*/

    });
</script>
</body>
</html>